@*partial view*@
@model PartialView.Models.Car

<div class="row" >

    <div class="col-md-4">@Model.Id </div>
    <div class="col-md-4">@Model.Brand</div>
    <div class="col-md-4">@Model.Name</div>

</div>

